.bd{margin-top: 100px;background: #FAFAFA;padding-top: 15px;}
.infoblock{width: 600px;margin: 0 auto;padding:0 20px 0; }
.info_title hr{
	color:#E6E6E6;
	border: 1px solid #e6e6e6;
}
.title{
	position: relative;
	display: inline-block;
	padding-right:5px;
	top:-33px;
	background:#fafafa;
	font-size: 14px;
	font-weight: bold;
	font-variant: normal;
	font-style: normal;
	line-height: 17.75px;
}
.btn{
	display: inline-block;
	font-size: 12px;
	font-variant: normal;
	font-style: normal;
	color:#333333;
	padding: 0 9px 0 8px;
	background: #F2F2F2;
	border-radius:13px;
	-o-border-radius:13px;-moz-border-radius:13px;-webkit-border-radius:13px;
	position: relative;
	top:-35px;
	left:85%;
}
.btn a{color:#333333;}
.btn a:hover{
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
}
.btn:hover{
	background: #FFA71B;	
}

.pf_item{margin-bottom: 10px;}
.pf_item .lable{
	width:53px;
	white-space: nowrap;
	text-align: right;
	display:block;
	float:left;
	font-size: 12px;
	font-variant: normal;
	font-style: normal;
	line-height: 30px;
}
.pf_item .con{
	color: rgb(83, 54, 76);
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	margin-left: 67px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	width: 473px;
	word-wrap: break-word;
}

.tag_area{
	width: 85%;min-height: 100px;
	border: 1px solid #E6E6E6;
	background: #fff;
	margin-left: 67px;
	margin-bottom: 20px;
	padding: 10px 0 0;
}
.tag_area div.tag{
	margin-bottom: 10px;
}
.like{
	width: 85%;
	margin-left: 67px;
	margin-bottom: 20px;
}
/* css 边框三角 */
.tag{
	position:relative;
	
	color: rgb(51, 51, 51);
	cursor: pointer;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	margin-left: 20px;
	padding-bottom: 0px;
	padding-left: 7px;
	padding-right: 9px;
	padding-top: 0px;
	text-decoration: none solid rgb(51, 51, 51);
	white-space: nowrap;
	
	background-color: rgb(249, 249, 249);
	border-color: rgb(217, 217, 217);
	border-style: solid;
	border-width: 1px;
	/*border-left-color: rgb(51, 51, 51);
	border-left-style: none;
	border-left-width: 1px;*/
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	
}
.tag em,.tag span.left,.tag span.right{
	font-style:normal;
	font-size:12px;
	color:rgb(217, 217, 217);
	position: absolute;
	left: -6px;
}
.tag span.right{color:rgb(249, 249, 249);left:-5px;}
/* end css三角边框 */

.tag_add{}
.tag_cut{}
.tag_ban{
	background: #F9F9F9;
	color:#CCCED8;
}


/* icon */
.icon-plus{
	font-size:16px;
	color:#FFA00A;
	position: static;
	font-weight: bold;
	height: auto;
	line-height: normal;
	margin-right: 5px;
	margin-left: 5px;
}